$desaturated_dark_cyan: hsl(180, 29%, 50%); // header, filter txt
$light_grayish_cyan-background: hsl(180, 52%, 96%); // body
$light_grayish_cyan-filter-tablets: hsl(180, 31%, 95%); // filter
$dark_grayish_cyan: hsl(180, 8%, 52%);
$very_dark_grayish_cyan: hsl(180, 14%, 20%);
